/* regole generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', Courier, monospace
}

#flex-wrap{
    display: flex;
}

ul{
    list-style-type: none;
}

ul li a{
    text-decoration: none;
}

button{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

h4,
h2,
#upgrade a,
.menu-container a,
.menu-container span {
    color: white;
    text-decoration: none;
}

.menu-container{
    margin: 10px 10px;
}

/* BARRA LATERALE */

#side-nav{
    background-color:rgb(0, 0, 0);
    height: calc(100vh - 80px);
    width: 150px;
    z-index: -1;
}

#logo-big{
    width: 80%;
}

#logo-sm{
    display:none;
}

.list h4{
    font-size: 12px;
}

.list li, 
.flex {
    display: flex;
    align-items: center;
}

.list li{
    height: 40px;
    width: 100%;
}

.list li img{
    width: 25px;
    height: 25px;
}

.list span {
    padding: 0 10px;
}

.flex-box a,
.flex-box span, 
.list span{
    font-size: 12px;
}

#create-playlist{
    margin: 10px 0;
}

#square{
    background-color: #A3A3A3;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#play-list{
    overflow-y:auto;
    max-height: calc(100vh - 250px)
}

#play-list li a{
    color: #A3A3A3;
    font-size: 12px;
}

.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    /* height: 50px; */
    /* border: 1px solid red; */
}

#download img, #user img{
    height: 20px;
    width: 20px;
    display: flex;
}

#user img{
    filter: invert(-2)
}


/* PARTE CENTRALE */

main{
    background-color:#141922;
    width: calc(100% - 150px);
    height: calc(100vh - 80px);
    overflow-y: auto;
}

main li a{
    color: #C1C1C1;
}

main h2{
    font-size: 20px;
}

main h4{
    font-size: 14px;
    text-align:center;
}

/* Barra in alto - upgrade */

#top-nav {
    background-color: rgba(0, 0, 0, 0.6);
    height: 60px;
    position: fixed;
    width: calc(100% - 150px);
}

/* pulsante upgrade */

#upgrade{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 12px;
}

#upgrade a{
    font-size: 12px;
}

#btn-upgrade{
    padding: 8px 20px;
    border-radius: 20px;
    border: white 1px solid;
    background-color: transparent;
}

/* contenuto */

#content{
    /* padding-top: 20px; */
    height: calc(100vh - 150px)
}

/* barra dei contenuti */

#navbar{
    background-color: #141922;
    margin-top: 20px;
    height: 90px;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

#list-flex{
    display: flex;
    align-items: flex-end;
}

#list-flex ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#list-flex li {
    padding: 15px 10px;
}

/* anteprima film e brani musicali*/

#movie-container{
    margin: 15px;
    
}

.row{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px;
    margin: 25px 0;
}

.film-card{
    width: calc((100vw / 6) - 40px);
}

.film-card img{
    width: 100%
}

.round img{
    object-fit:cover;
    border-radius: 100%;
}

#movie-container > h5, 
.film-card h5{
    color: #A3A3A3;
    margin: 5px 0;
    font-size: 12px;
}

.film-card h5{
    text-align: center;
}

/* BARRA PLAYER IN BASSO */

#bottom-bar{
    background-color: #282828;
    height: 80px;
}

#container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

/* parti del player */
.col, #col-center{
    height: 40px;
    margin: 20px 20px;
}

.col{
    width: 25%;
    display: flex;
    align-content: center;
    
}

#col-center{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.box-col{
    padding: 5px 7px;
}

#bottom-bar ul{
    display: flex;
}

.box-col li{
    padding: 5px 5px;
}

.box-col h5, 
.timing,
#widget li a{
    color: white;
}

.box-col h6, 
.box-col li a{
    color: rgb(178, 178, 178);
}

/* parte icona brano */

#sinister{
    height: 40px;
    width: 20%;
}

#sinister img{
    width: 40px;
    height: 40px;
}

/* parte del player */
.box-player{
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding-bottom: 4px;
}

/* comandi player */
.box-player li button{
    padding: 0 10px;
}

.fa-circle-play{
    font-size: 20px;
}

/* dimensioni icone */
.fa-shuffle, 
.fa-backward-step, 
.fa-forward-step, 
.fa-rotate-right,
.fa-list, 
.fa-desktop,
.fa-volume-high,
.timing{
    font-size: 10px;
}

/* barra di riproduzione brani */
.bar{
    height: 4px;
    border-radius: 20px;
}

#bar-container, 
#volume-bar{
    background-color: #5A5A5A;
}

#bar-container{
    width: 80%;
    margin: 5px;
}

#bar-content, #volume-content{
    background-color: #C1C1C1;
    width: 25%;
}

/* barra comandi in basso e volume */

#widget{
    display:flex;
    justify-content: flex-end;
    align-items:center;
    width: 100%;
}

#widget li a{
    padding: 0 6px;
}

#volume-bar {
    width: 40%;
}


/* SEZIONE RESPONSIVE */

/* visualizzazione mobile */

@media all and (max-width: 553px) {
    
    /* riduzione barra laterale */

    #side-nav{
        width: 50px;
    }

    /* comparsa icone con riduzione barra laterale */
    #logo-sm {
        display: block;
    }
    
    #logo-sm img {
        width: 60%;
        filter: invert(2);
    }
    
    #logo-big,
    .list span,
    .list h4,
    #create-playlist,
    #play-list,
    #download span,
    #user span,
    hr {
        display: none;
    }


    /* ridimensionamento componenti */
    #navbar, main {
        width: 100%;
    }

    #top-nav{
        width: calc(100% - 50px);
    }

    .film-card {
        width: calc((100vw / 2) - 50px);
        /* height: calc((100vw / 2)); */
    }
    
}

/* visualizzazione tablet */

@media all and (min-width: 554px) and (max-width: 735px) {

    .film-card {
        width: calc((100vw / 4) - 50px);
        /* height: calc((100vw / 4)); */
    }
}

/*  */

@media all and (max-width: 735px) {

    #navbar {
        height: 130px;
    }
}



